
<% if(theme.show_dates) { %>
    <h1 class="title"><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <div class="meta">
        <%= item.date.format(config.date_format) %>
    </div>
<% } else { %>
    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
<% } %>
<% if(item.cover_detail || theme.default_cover_detail) { %>
    <span class="image main"><img src="<%- item.cover_detail || theme.default_cover_detail %>" alt="" /></span>
<% } %>

<!-- Gallery -->
<% if (item.photos && item.photos.length){ %>
    <%- partial('gallery') %>
<% } %>

<!-- Content -->
<%- item.content %>

<!-- Tags -->
<%- partial('article-tags') %>

<!-- Qrcode -->
<div width="100px">
    <img src="https://blog-1251019962.cos-website.ap-beijing.myqcloud.com/qiniu_img_2022/wechat-blog-qrcode.jpg" alt="TIGERB" width="300px" style="display:block; margin: 30px auto 0px auto;">
</div>

<!-- Comments -->
<div>
    <%- partial("_partial/comments.ejs") %>
</div>

